<div class="container">

	<h1>-Customers Sorting &amp; Formating-</h1>

	<p>
		<label>Filter :</label> 
		<input type="text" class="form-control" placeholder="Search Customer" ng-model="customFilter.name">
	</p>
	
	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="text-center" ng-click="doSort('id')">Customer ID :</th>
					<th ng-click="doSort('name')">Name :</th>
					<th ng-click="doSort('city')">City :</th>
					<th ng-click="doSort('age')">Age :</th>
					<th ng-click="doSort('orderTotal')">Total :</th>
					<th ng-click="doSort('joined')">Date of Join :</th>
					<th class="text-center">Details :</th>
				</tr>
			</thead>
			<tbody>
				<!--Regular row-->
				<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="cust in customers | filter:customFilter | limitTo: 30 | orderBy:sortBy:reverse">
					<td class="text-center">{{ cust.id }}</td>
					<td>{{ cust.name | uppercase }}</td>
					<td>{{ cust.city | uppercase }}</td>
					<td>{{ cust.age | number }}</td>
					<td>{{ cust.orderTotal | currency }}</td>
					<td>{{ cust.joined | date:'mediumDate' }}</td>
					<td class="text-center"><a href="#/orders/{{ cust.id }}">Order History <span class="glyphicon glyphicon-chevron-right"></span></a></td>
				</tr>
				<!--No Result row-->
				<tr ng-show="(customers | filter:customFilter).length == 0" class="no-result">
					<td colspan="7" class="text-center no-result">No Result</td>
				</tr>
			</tbody>
		</table>
	</div>

	<p>Total Customers : {{ customers.length }}</p>

</div>