<div class="container">

	<h1>Order Histories</h1>

	<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Order ID :</th>
					<th>Product :</th>
					<th>Total :</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="order in orders">
					<td>{{ order.id }}</td>
					<td>{{ order.product | uppercase }}</td>
					<td>{{ order.total }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<p>Total Orders : {{ orders.length }}</p>

</div>